<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %}Welcome{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}

</head>
<body>
{% block header %}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s2">
                    <a id="logo" href="#" class="valign-wrapper">
                        <img src="{{ asset('logo.png') }}" alt="" class="responsive-img container">
                    </a>
                </div>
                <div class="row">
                    <div class="input-field col offset-s4">
                        <input id="email" type="email" class="validate" placeholder="email">

                    </div>


                    <div class="input-field col s2">
                        <input id="password" type="password" class="validate" placeholder="mot de passe">
                    </div>
                    <a href="{{ path('menu') }}" class="waves-effect waves-light btn light ">Connexion</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    <footer class="page-footer orange">
        <div class="center-align">
            Made by <a class="orange-text text-lighten-3" href="#">MBAPE Pierre</a>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
{% endblock %}

</body>
</html>
