{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cours list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomcours</th>
                <th>Nomens</th>
                <th>Idens</th>
                <th>Nombrechx</th>
                <th>Nombretotal</th>
                <th>Heure</th>
                <th>Jour</th>
                <th>Lieu</th>
                <th>Credit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td><a href="{{ path('cours_show', { 'id': cour.id }) }}">{{ cour.id }}</a></td>
                <td>{{ cour.nomCours }}</td>
                <td>{{ cour.nomEns }}</td>
                <td>{{ cour.idEns }}</td>
                <td>{{ cour.nombreChx }}</td>
                <td>{{ cour.nombreTotal }}</td>
                <td>{% if cour.heure %}{{ cour.heure|date('H:i:s') }}{% endif %}</td>
                <td>{{ cour.jour }}</td>
                <td>{{ cour.lieu }}</td>
                <td>{{ cour.credit }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cours_show', { 'id': cour.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cours_edit', { 'id': cour.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
    </ul>
{% endblock %}
