{% extends 'base.html.twig' %}

{% block body %}
    <br><br><br><br>
    <h4 class="light center">Mes cours réserver</h4>
    <br><br><br><br>
    <table class="container">
        <thead>
        <tr>
            <th>Nomcours</th>
            <th>Nomens</th>
            <th>Idens</th>
            <th>Heure</th>
            <th>Jour</th>
            <th>Lieu</th>
            <th>Credit</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for cour in etudiant.cours %}
            <tr>
                <td>{{ cour.nomCours }}</td>
                <td>{{ cour.nomEns }}</td>
                <td>{{ cour.idEns }}</td>
                <td>{% if cour.heure %}{{ cour.heure|date('H:i:s') }}{% endif %}</td>
                <td>{{ cour.jour }}</td>
                <td>{{ cour.lieu }}</td>
                <td>{{ cour.credit }}</td>
                <td>
                    <ul>
                        <li>
                            <div>
                                <a href="{{ path('cours_desinscrire', { 'id': cour.id }) }}">désinscrire</a>
                            </div>
                        </li>
                    </ul>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br><br><br><br><br>
    <br><br><br><br><br>

    <div class="row center">
        <div class="waves-effect waves-light btn light">
            <a class="white-text" href="{{ path('cours_index') }}">Revenir sur la liste de cours</a>
        </div>
    </div>
    <br><br>
{% endblock %}