{% extends 'base.html.twig' %}

{% block body %}

    <div id="cours" class="center container">
        <br>
        <h4 class="light">Cours 2017/2018</h4>
        <br>
        <table class="striped">
            <tbody>
            <tr>
                <th class="center">Nom cours</th>
                <td class="center">{{ cour.nomCours }}</td>
            </tr>
            <tr>
                <th class="center">Nom enseignant</th>
                <td class="center">{{ cour.nomEns }}</td>
            </tr>
            <tr>
                <th class="center">Nombre place réservé</th>
                <td class="center">{{ cour.nombreChx }}</td>
            </tr>
            <tr>
                <th class="center">Nombre place disponible</th>
                <td class="center">{{ cour.nombreTotal }}</td>
            </tr>
            <tr>
                <th class="center">Jour</th>
                <td class="center">{{ cour.jour }}</td>
            </tr>
            <tr>
                <th class="center">Heure</th>
                <td class="center">{% if cour.heure %}{{ cour.heure|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th class="center">Crédit ECTS</th>
                <td class="center">{{ cour.credit }}</td>
            </tr>
            <tr>
                <th class="center">Lieu</th>
                <td class="center">{{ cour.lieu }}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <ul class="center">
            <div class=" waves-effect waves-light btn light">
                <a class="white-text" href="{{ path('cours_reserve', { 'id': cour.id }) }}">Réserver</a>
            </div>
            <br><br>
            <a href="{{ path('cours_index') }}">Retour</a>
        </ul>
    </div>

{% endblock %}

