{% extends 'base.html.twig' %}

{% block body %}
    <nav class="nav-extended">
        <div class="nav-content">
            <ul class="tabs tabs-transparent light-blue lighten-1">
                <li class="tab"><a href="{{ path('user_show', {'id': app.user.id}) }}">Données utilisateur</a></li>
                <li class="tab"><a href="#">Dossier étudiant</a></li>
                <li class="tab"><a href="#test4">Cours</a></li>
            </ul>
        </div>
    </nav>
    <br><br>
    <table class="highlight">
        <thead>
        <tr>
            <th>Id</th>
            <th>Numéros INE</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Diplome en cours</th>
            <th>Departement</th>
            <th>Adresse</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td><a href="{{ path('etudiant_show', { 'id': etudiant.id }) }}">{{ etudiant.id }}</a></td>
                <td>{{ etudiant.iNE }}</td>
                <td>{{ etudiant.mobile }}</td>
                <td>{{ etudiant.mailaltern }}</td>
                <td>{{ etudiant.diplomeEnCours }}</td>
                <td>{{ etudiant.departement }}</td>
                <td>{{ etudiant.adresse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etudiant_show', { 'id': etudiant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etudiant_edit', { 'id': etudiant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etudiant_new') }}">Create a new etudiant</a>
        </li>
    </ul>
{% endblock %}
