{% extends 'base.html.twig' %}

{% block body %}
    <nav class="nav-extended">
        <div class="nav-content">
            <ul class="tabs tabs-transparent light-blue lighten-1">
                <li class="tab"><a href="#etudiant">Dossier étudiant</a></li>
                <li class="tab"><a href="#utilisateur">Données utilisateur</a></li>
            </ul>
        </div>
    </nav>

    <div id="etudiant" class="center container">
        <br>
        {% for etudiant in etudiants %}
            {% if etudiant.id == app.user.id %}
                <h4 class="light">Année 2017/2018</h4>
                <br>
                <table class="center">
                    <tbody class="center">
                    <tr>
                        <th>Id</th>
                        <td>{{ etudiant.id }}</td>
                    </tr>
                    <tr>
                        <th>Numéros INE</th>
                        <td>{{ etudiant.iNE }}</td>
                    </tr>
                    <tr>
                        <th>Mobile</th>
                        <td>{{ etudiant.mobile }}</td>
                    </tr>
                    <tr>
                        <th>Email université</th>
                        <td>{{ etudiant.mailaltern }}</td>
                    </tr>
                    <tr>
                        <th>Diplome en cours</th>
                        <td>{{ etudiant.diplomeEnCours }}</td>
                    </tr>
                    <tr>
                        <th>Departement</th>
                        <td>{{ etudiant.departement }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ etudiant.adresse }}</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <ul>
                    <div class=" waves-effect waves-light btn light">
                        <a class="white-text" href="{{ path('etudiant_edit', { 'id': etudiant.id }) }}">Modifier dossier
                            étudiant</a>
                    </div>

                </ul>
            {% endif %}
        {% endfor %}
        {% for etudiant in etudiants %}
            {% if etudiant.id == app.user.id %}
                <ul>
                    <li>
                        <a href="{{ path('etudiant_new') }}">Créer profil etudiant</a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
        <br><br>
    </div>

    <div id="utilisateur" class="center container">
        <br>
        <h4 class="light">Année 2017/2018</h4>
        <br>
        <table class="center container">
            <tbody class="center">
            <tr>
                <th>Id</th>
                <td>{{ app.user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ app.user.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ app.user.prenom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ app.user.dnaiss }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ app.user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ app.user.genre }}</td>
            </tr>
            </tbody>
        </table>
        <br><br>
        <div>
            <div class=" waves-effect waves-light btn light">
                <a class="white-text" href="{{ path('fos_user_profile_edit') }}">Modifier profil</a>
            </div>
            <br><br>
            <a href="{{ path('fos_user_change_password') }}">Changer mot de passe</a>
        </div>
        <br><br>
    </div>
{% endblock %}
