{% extends 'base.html.twig' %}

{% block body %}
    <nav class="nav-extended">
        <div class="nav-content">
            <ul class="tabs tabs-transparent light-blue lighten-1">
                <li class="tab"><a href="#etudiant">Dossier étudiant</a></li>
                <li class="tab"><a href="#utilisateur">Données utilisateur</a></li>
            </ul>
        </div>
    </nav>

    <div id="etudiant" class="center container">
        <br>
        {% if etudiant is defined %}
            <h4 class="light">Année 2017/2018</h4>
            <br>
            <table class="striped">
                <tbody>
                <tr>
                    <th class="center">Numéros INE</th>
                    <td class="center">{{ etudiant.iNE }}</td>
                </tr>
                <tr>
                    <th class="center">Mobile</th>
                    <td class="center">{{ etudiant.mobile }}</td>
                </tr>
                <tr>
                    <th class="center">Email université</th>
                    <td class="center">{{ etudiant.mailaltern }}</td>
                </tr>
                <tr>
                    <th class="center">Diplome en cours</th>
                    <td class="center">{{ etudiant.diplomeEnCours }}</td>
                </tr>
                <tr>
                    <th class="center">Departement</th>
                    <td class="center">{{ etudiant.departement }}</td>
                </tr>
                <tr>
                    <th class="center">Adresse</th>
                    <td class="center">{{ etudiant.adresse }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <ul>
                <div class=" waves-effect waves-light btn light">
                    <a class="white-text" href="{{ path('etudiant_edit', { 'id': etudiant.id }) }}">Modifier dossier
                        étudiant</a>
                </div>
            </ul>
            <br><br>
        {% else %}
            <br><br><br><br><br>
            <br><br><br><br><br><br>

            <ul>
                <li>
                    <a href="{{ path('etudiant_new') }}">Créer profil etudiant</a>
                </li>
            </ul>
            <br><br><br><br><br>
            <br><br><br><br><br><br>

        {% endif %}
        <br><br>
    </div>

    <div id="utilisateur" class="center container">
        <br>
        <h4 class="light">Année 2017/2018</h4>
        <br>
        <table class="striped">
            <tbody>
            <tr>
                <th class="center">Nom</th>
                <td class="center">{{ app.user.nom }}</td>
            </tr>
            <tr>
                <th class="center">Prénom</th>
                <td class="center">{{ app.user.prenom }}</td>
            </tr>
            <tr>
                <th class="center">Date de naissance</th>
                <td class="center">{{ app.user.dnaiss |date('d-m-Y')}}</td>
            </tr>
            <tr>
                <th class="center">Username</th>
                <td class="center">{{ app.user.username }}</td>
            </tr>
            <tr>
                <th class="center">Email</th>
                <td class="center">{{ app.user.email }}</td>
            </tr>
            <tr>
                <th class="center">Genre</th>
                <td class="center">{{ app.user.genre }}</td>
            </tr>
            </tbody>
        </table>
        <br><br>
        <div>
            <div class=" waves-effect waves-light btn light">
                <a class="white-text" href="{{ path('fos_user_profile_edit') }}">Modifier profil</a>
            </div>
            <br><br>
            <a href="{{ path('fos_user_change_password') }}">Changer mot de passe</a>
        </div>
        <br><br>
    </div>
{% endblock %}
