{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etudiant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Ine</th>
                <td>{{ etudiant.iNE }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ etudiant.mobile }}</td>
            </tr>
            <tr>
                <th>Mailaltern</th>
                <td>{{ etudiant.mailaltern }}</td>
            </tr>
            <tr>
                <th>Diplomeencours</th>
                <td>{{ etudiant.diplomeEnCours }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ etudiant.departement }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ etudiant.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etudiant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('etudiant_edit', { 'id': etudiant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
